### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import os
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = os.path.join('resources', 'purchase_data.csv')

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load, delimiter=',')
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
# Calculate the distinct count of players
player_count = len(purchase_data_df['SN'].unique())

# Create a new data frame to hold the total number of players
players_df = pd.DataFrame({'Total Players': [player_count]})

# Display the data frame
players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# Calculate the number of unique items
items = len(purchase_data_df['Item ID'].unique())

# Calculate the average price
avg_price = purchase_data_df['Price'].mean()

# Calculate the total number of purchases
purchases = len(purchase_data_df['Purchase ID'])

# Calculate the total revenue
revenue = purchase_data_df['Price'].sum()

# Create a new data frame to hold the analysis
analysis_df = pd.DataFrame({'Number of Unique Items': [items], 
                            'Average Price': [avg_price], 
                            'Number of Purchases': [purchases], 
                            'Total Revenue': [revenue]})

# Format and display
analysis_df.style.format({'Average Price': '${:,.2f}', 'Total Revenue': '${:,.2f}'})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
# First, drop any duplicates in order to get a unique count
unique = purchase_data_df[['Gender', 'SN']].drop_duplicates(subset = 'SN')

# Count number of players by gender
gender_tot = pd.DataFrame(unique['Gender'].value_counts())

# Calculate percent of players by gender
gender_pct = gender_tot / player_count

# Reading the documentation I learned this also works to calculate the percent of players
# gender_pct = pd.DataFrame(unique['Gender'].value_counts(normalize=True))

# Merge these data frames and create a new data frame for gender demographics
gender_demographics_df = gender_tot.merge(gender_pct, left_index=True, right_index=True)
gender_demographics_df.columns = ['Total Count', 'Percentage of Players']

# Format and display
gender_demographics_df.style.format({'Percentage of Players': '{:,.2%}'})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# Make a group by gender
gender_df = purchase_data_df.groupby('Gender')

# Calculate the purchase count in this group
gender_cnt = gender_df['Gender'].count()

# Calculate the avagerage purchase price in this group
avg_price = gender_df['Price'].mean()

# Calculate the total purchase value in this group
purchase_tot = gender_df['Price'].sum()

# Calculate the average total purchase per person in this group
avg_tot = purchase_tot / gender_df['SN'].nunique()

# Make a summary data frame to hold the results
gender_analysis_df = pd.DataFrame({
    'Purchase Count': gender_cnt,
    'Average Purchase Price': avg_price, 
    'Total Purchase Value': purchase_tot, 
    'Avg Total Purchase per Person': avg_tot})

# Format and display
gender_analysis_df.style.format({
    'Average Purchase Price': '${:,.2f}', 
    'Total Purchase Value': '${:,.2f}', 
    'Avg Total Purchase per Person': '${:,.2f}'})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
# Make age bins
age_bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 100]

# Make bin names
age_labels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

# Add a column for age group to bin the age of each purchase
purchase_data_df['Age Group'] = pd.cut(purchase_data_df['Age'], age_bins, labels=age_labels)

# Make it a group
age_group_df = purchase_data_df.groupby('Age Group')

# Calculate the number of players by age
age_cnt = age_group_df['SN'].nunique()

# Calculate the percentage of players by age
age_pct = age_cnt / player_count

# Make a summary data frame to hold the results
age_demographics_df = pd.DataFrame({'Total Count': age_cnt, 'Percentage of Players': age_pct})

# Format and display
age_demographics_df.style.format({'Percentage of Players': '{:,.2%}'})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
# Count purchases by age group
purchase_cnt = age_group_df['Purchase ID'].count()

# Calculate the average purchase price
purchase_avg = age_group_df['Price'].mean()

# Calculate the total purchase value
purchase_val = age_group_df['Price'].sum()

# Calculate the average total purchase per person
avg_purchase_per = purchase_val / age_cnt

# Make a summary data frame to hold the results
purchase_analysis_df = pd.DataFrame({
    'Purchase Count': purchase_cnt, 
    'Average Purchase Price': purchase_avg, 
    'Total Purchase Value': purchase_val, 
    'Avg Total Purchase per Person': avg_purchase_per})

# Format and display
purchase_analysis_df.style.format({
    'Average Purchase Price': '${:,.2f}', 
    'Total Purchase Value': '${:,.2f}', 
    'Avg Total Purchase per Person': '${:,.2f}'})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
# Make a group by SN
spender_df = purchase_data_df.groupby('SN')

# Count purchases
spender_cnt = spender_df['SN'].count()

# Calculate the average purchase price
spender_avg = spender_df['Price'].mean()

# Calculate the total purchase price
spender_tot = spender_df['Price'].sum()

# Make a summary data frame to hold the results
top_spenders_df = pd.DataFrame({
    'Purchase Count': spender_cnt, 
    'Average Purchase Price': spender_avg, 
    'Total Purchase Value': spender_tot})

# Return the top 5 spenders and sort by total purchase value
top_spenders_df = top_spenders_df.sort_values(['Total Purchase Value'], ascending=False).nlargest(5, 'Total Purchase Value')

# Format and display
top_spenders_df.style.format({'Average Purchase Price': '${:,.2f}', 'Total Purchase Value': '${:,.2f}'})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [17]:
# Make a group by item ID and item name
popular_df = purchase_data_df.groupby(['Item ID', 'Item Name'])

# Count purchases by item ID
popular_cnt = popular_df['Item ID'].count()

# Calculate the total purchase value
popular_val = popular_df['Price'].sum()

# Calculate the item price
item_price = popular_val / popular_cnt

# Make a summary data frame to hold the results
item_data_df = pd.DataFrame({
    'Purchase Count': popular_cnt, 
    'Item Price': item_price, 
    'Total Purchase Value': popular_val})

# Return the top 5 most popular items and sort in descending order
top_popular_df = item_data_df.sort_values(['Purchase Count'], ascending=False).nlargest(5, 'Purchase Count')

# Format and display
top_popular_df.style.format({'Item Price': '${:,.2f}', 'Total Purchase Value': '${:,.2f}'})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [19]:
# Return the top 5 most profitalbe items and sort in descending order
top_profitable_df = item_data_df.sort_values(['Total Purchase Value'], ascending=False).nlargest(5, 'Total Purchase Value')

# Format and display
top_profitable_df.style.format({'Item Price': '${:,.2f}', 'Total Purchase Value': '${:,.2f}'})

In [24]:
Observations:

- Out of 576 players, 484 are male (84%), 81 are female (14%), and 11 are other (2%).

- While men spend more overall, other and women have a higher average purchase price.

- The largest number of players are in the 20-24 age group representing 45% of all players.

- The bottom 3 most profitable games are less popular.

SyntaxError: invalid syntax (<ipython-input-24-0eb65f742740>, line 2)